body{
    margin:0%;

}
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2% 0%;
}
.navbar a{
    text-decoration: none;
    font-size: 1.3rem;
    }
    .logo{
        font-size:3rem !important;
 }
 .navbar i{
    font-size: 1.4rem;
    color:rgba(0,0,0,0.6);
 }
 .vamsi{
    background-image:url(https://edge.rode.com/images/page/1/modules/7785/rode-rcp-backpack-insitu-city-web-banner-6406x2336-rgb-1920x700-8c89d38a.jpg);
    background-size: cover;
    background-position: center;
    height: 109vh;
}
 
 
.vamsi{
    text-align: center;
    bottom: 20%;

    
    
    
}
.vamsi h1{
    font-size:50px;
    text-align: center;

}
.vamsi h2{
    font-size:30px;
    text-align: center;
    
}
.vamsi div{
    font-size:30px;
    padding-right: 50%;
    
}
    
 
 .vamsi a{
    text-decoration: none;
    font-size: 1.3rem;
    color:#ad9970;

}
.vamsi span{
    background-color: #ad9970;
    color:white;
    padding:1%;
    margin-left: 1%;
    border-radius: 0.5px;
    font-size: 1rem;
}

